html {
	// display: none;
}
body {
	// background: red;
	#app3 {
		margin-bottom: 4rem;
	}
}
input {
	border: 3px solid seagreen !important;
}

.the-box {
	min-height: 350px;
	margin-top: 3rem !important;
	// box-shadow: 3px 3px 6px lightgray;
	h6 {
		padding: 1rem;
	}
}